{
    "gluster":
    {
	"enabled": 0,"methods":{"volume_add": 1, "volume_del": 1}
    },
    "ceph":
    {
	"enabled": 0,"methods": {}
    },
    "general":
    {
	"enabled": 1,"methods": {
	    "drive_add": 1,
	    "drive_remove": 1,
	    "drive_corruption": 1,
	    "block_property_changed": 1,
	    "block_add": 1,
	    "block_remove": 1,
	    "mount_state_change": 1,
	    "network_device_removed": 0,
	    "network_device_added": 0,
	    "network_device_changed": 0,
	    "glusterd_status":0,
	    "collectd_status": 1,
	    "salt_minion_status":1,
	    "lvm_vg_create":0,
	    "lvm_lv_create":0,
	    "lvm_vg_delete":0,
	    "lvm_lv_delete":0}
    }
}
